<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRBZxmTPtCoWoVnu_9jqUP27KmkTTzTew</string>
	<key>GCM_SENDER_ID</key>
	<string>1006992790698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fx712.d0mi</string>
	<key>PROJECT_ID</key>
	<string>d0mi-712</string>
	<key>STORAGE_BUCKET</key>
	<string>d0mi-712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006992790698:ios:748c78966ef09373cbecd3</string>
</dict>
</plist>